/*商品详情*/
.product_details{

    margin-top: 0 !important;
}

.preivew{
    width: 475px;
    height: 452px;
    margin-right: 24px;
    border: 1px solid #717171;
}
.shop_details{
    width: 1011px;
    height: 562px;
    margin:10px  206px 50px 206px;

}
.icon_all{
    margin-top: 60px;
}
.icon_list{
    width: 460px;
    height: 84px;
    margin-top: 10px;
    list-style: none;
}
.shop_details .preivew .icon_all .icon_list li img{
    width: 84px;
    height: 84px;
}
.shop_details .preivew .icon_all .icon_list li{
    border: 1px solid #DBDBDB;
    border-right: 0;
}